* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app-os {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.left-col-os {
    width: 20%;
    padding: 2rem 1rem;
    background: #1f1d3e;
}
.right-col-os {
    width: 80%;
}